.container{
text-align: center;
background-color:#1dd198;
text-decoration-color: white;
color:white;
}
.paragraph{
  background-color: white;

  font-size: 13px;


  float:left;
  color:#2085c1;



}
.copy{
padding-top: 520px;
margin-top: top;
text-align: center;
font-size: 30px;
color:#acdb9b;

}
.button{


margin-top:250px;
t}}
ext}}
-align: center;
  font-size: 30px;
  color:blue;
float: left;

}

.image{
float:right;

}
.subscribe{
margin-top:220px;
float:right;



}
